.carousel-item {
    min-height: 70vh;
}

.carousel-item img {
    min-height: 70vh;
    background-size: cover;
}

.carousel-indicators {
    position: relative;
    top: -15vh;
}

.carousel-content {
    text-align: left;
}

.indicator-active {
    text-decoration: none;
    color: white;
}

.indicator-active::after {
    text-decoration: none;
    background: #ffffff;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    transform: scalex(1);
    transition: transform 0.2s ease;
}

.indicator {
    text-decoration: none;
    color: #ffffff95;
}

.indicator::after {
    text-decoration: none;
    background: #ffffff4d;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    transform: scale(0);
}

@media (max-width:768px) {
    .carousel-indicators {
        display: none;
    }
    .carousel-content {
        text-align: center;
    }
}

@media (min-width:1440px) {
    .carousel-content {
        position: relative;
        top: -70vh;
    }
    .carousel-content Button {
        padding: 1%;
    }
    .carousel-indicators {
        top: -70vh;
    }
    .carousel-indicators Button {
        margin: 0% 5%;
        padding: 1% 5%;
        width: auto;
    }
}